<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {% load staticfiles %}

        <script src="{% static 'public/js/jquery-1.12.3.js' %}"></script>
        <script language="JavaScript" src="{% static 'public/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'mixojapp/js/common.js' %}"></script>

{#        bootstrap#}
        <link rel="stylesheet" href="{% static 'public/css/bootstrap-3.3.6.css' %}">
        <script src="{% static 'public/js/bootstrap-3.3.6.js' %}"></script>

{#        <link rel="stylesheet" href="{% static 'public/css/bootstrap-theme.min-3.3.5.css' %}">#}
{#        <link rel="stylesheet" href="{% static 'dist/css/bootstrap-min.css' %}">#}
{#        <link rel="stylesheet" href="{% static 'dist/css/slim-min.css' %}">#}